// basic
$white: #ffffff;
$black: #000000;

// additional
$white-active: rgba(255 255 255 / 30%);
$ebony-clay: #283645;
$ebony-clay-light: rgba(40 54 69 / 30%);
$ebony-clay-hover: rgba(40 54 69 / 60%);
$ebony-clay-active: rgba(40 54 69 / 10%);
$mirage: #1d2631;
$concrete: #f2f2f2;
$cerise-red: #d22856;
$cerise-red-light: rgba(210 40 86 / 30%);
$jungle-green: #2aab6d;
$eucalyptus: #1c9b5e;
$mercury: #e5e5e5;
