// basic
$white: #ffffff;
$black: #000000;


// additional
$ebony-clay: #283645;
$mirage: #1d2631;
$concrete: #f2f2f2;
$cerise-red: #d22856;
$cerise-red-light: rgba(210 40 86 / 30%);
$jungle-green: #2aab6d;
$eucalyptus: #1c9b5e;
$mercury: #e5e5e5;

// status
// $error: #ff3d3d;
// $warning: #fd912e;
// $success: #08af00;
