extends base

block variables
  - var title = 'Фотографии'
  - var linkScripts = '../catalog.js'
  - var namePage = 'Catalog'

block content
  main.main.main-container
    h1.visually-hidden Каталог Pink
