extends base

block variables
  - var title = 'Pink - Конкурс'
  - var linkScripts = '../contest.js'
  - var namePage = 'Contest'

block content
  main.main.main-container

    section.invitation.container
      div.invitation__banner
        h1.invitation__title.invitation__title--padding-bottom Конкурс на самое безбашенное #[br] путешествие с Пинк
        div.invitation__description.container
          p.invitation__text.invitation__text--side-padding Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту!

    section.contest-form.container
      h2.visually-hidden Форма регистрации участника конкурса
      form.contest-form__form.contest-form(action="https://echo.htmlacademy.ru" method="get")
        fieldset.contest-form__user-name
          label(for="surname") Фамилия:
          input#surname.contest-form__input(type="text" name="surname" placeholder="Укажите фамилию *" required)
          label(for="name") Имя:
          input#name.contest-form__input(type="text" name="name" placeholder="Введите ваше имя *" required)
          label(for="patronymic") Отчество:
          input#patronymic.contest-form__input(type="text" name="patronymic" placeholder="Ну и отчество тоже")
        fieldset.contest-form__user-achievements.achievements
          legend Ваши безбашенные достижения в путешествии
          ul.achievements__list.list
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="selfie" checked)
                span.list__mark
                span.list__name Сделал селфи с акулой
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="sunburn" checked)
                span.list__mark
                span.list__name Обгорел на пляже
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="chuck-norris")
                span.list__mark
                span.list__name Видел Чака Норриса
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="souvenir")
                span.list__mark
                span.list__name Накупил сувениров
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="tower")
                span.list__mark
                span.list__name Удержал башню
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="hotel")
                span.list__mark
                span.list__name Разгромил отель
        fieldset.contest-form__user-data
          label(for="phone") Номер телефона
          input#phone.contest-form__input(type="tel" name="phone" placeholder="Номер, пожалуйста")
          label(for="mail") Адрес почты
          input#mail.contest-form__input(type="email" name="mail" placeholder="Введите почту *" required)
        fieldset.contest-form__user-application.application
          legend С каким приложением путешествовали?
          ul.application__list.list
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="radio" name="application" value="ios" checked)
                span.list__mark
                span.list__name Pink для iOS
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="radio" name="application" value="android")
                span.list__mark
                span.list__name Pink на Android
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="radio" name="application" value="windows-phone")
                span.list__mark
                span.list__name Windows Phone
        fieldset.contest-form__user-emotions
          label(for="emotions") Опишите свои эмоции
          textarea#emotions.contest-form__textarea(name="emotions" placeholder="Можно прям в красках, не стесняясь в " +
          "выражениях" rows="5")
        div.contest-form__button-wrapper
          button.contest-form__button(type="submit") Отправить форму
          span.contest-form__condition #[sup *] — обязательные поля

    section.popup.container
      div.popup__error.error
        h2.popup__title Что-то пошло не так!
        p.popup__message Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить
        button.popup__button(type="button") ОК
      div.popup__success.success
        h2.popup__title Ваша заявка отправлена
        p.popup__message Спасибо за ваше участие, ваша заявка уже поступила к нам. В ближайшее время мы рассмотрим ее и оповестим вас.
        a.popup__button(href="../index.html") Закрыть окно
