extends base

block variables
  - var title = 'Pink - Конкурс'
  - var linkScripts = '../contest.js'
  - var namePage = 'Contest'

block content
  main.main.main-container

    section.invitation
      div.invitation__banner
        h1.invitation__title.invitation__title--contest Конкурс на самое безбашенное #[br] путешествие с Пинк
        div.invitation__description.invitation__description--contest
          p.invitation__text.invitation__text--contest Поделитесь своей историей и получите шанс выиграть ценный приз — 1000 миль на вашу бонусную карту! #[span Пожалуйста, заполните форму ниже:]

    section.contest-form.container
      h2.visually-hidden Форма регистрации участника конкурса
      form.contest-form__form.user-form(action="https://echo.htmlacademy.ru" method="get")
        fieldset.user-form__user-name
          label.user-form__label(for="surname") Фамилия:
          input#surname.user-form__input(type="text" name="surname" placeholder="Укажите фамилию *" required)
          label.user-form__label(for="name") Имя:
          input#name.user-form__input(type="text" name="name" placeholder="Введите ваше имя *" required)
          label.user-form__label(for="patronymic") Отчество:
          input#patronymic.user-form__input(type="text" name="patronymic" placeholder="Ну и отчество тоже")
        fieldset.user-form__user-application.user-application
          legend С каким приложением путешествовали?
          ul.user-application__list.list
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="radio" name="application" value="ios" checked)
                span.list__mark
                span.list__name Pink для iOS
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="radio" name="application" value="android")
                span.list__mark
                span.list__name Pink на Android
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="radio" name="application" value="windows-phone")
                span.list__mark
                span.list__name Windows Phone
        fieldset.user-form__user-data
          legend Контактная информация
          label.user-form__label(for="phone") Номер телефона
          input#phone.user-form__input(type="tel" name="phone" placeholder="Номер, пожалуйста")
          label.user-form__label(for="mail") Адрес почты
          input#mail.user-form__input(type="email" name="mail" placeholder="Введите почту *" required)
        fieldset.user-form__user-achievements.achievements
          legend Ваши безбашенные достижения в путешествии
          ul.achievements__list.list
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="selfie" checked)
                span.list__mark
                span.list__name Сделал селфи с акулой
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="sunburn" checked)
                span.list__mark
                span.list__name Обгорел на пляже
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="chuck-norris")
                span.list__mark
                span.list__name Видел Чака Норриса
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="souvenir")
                span.list__mark
                span.list__name Накупил сувениров
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="tower" checked)
                span.list__mark
                span.list__name Удержал башню
            li.list__item
              label.list__label
                input.visually-hidden.list__input(type="checkbox" name="hotel")
                span.list__mark
                span.list__name Разгромил отель
        fieldset.user-form__user-emotions
          legend Опишите свои эмоции
          label.visually-hidden.user-form__label(for="emotions")
          textarea#emotions.user-form__textarea(name="emotions" placeholder="Можно прям в красках, не стесняясь в " +
          "выражениях" rows="5")
        div.user-form__button-wrapper
          button.user-form__button(type="submit") Отправить форму
          span.user-form__condition #[strong *] — Обязательные #[span для заполнения] поля

    section.popup.container
      div.popup__error.error
        h2.popup__title.popup__title--error Что-то пошло не так!
        p.popup__message.popup__message--error Проверьте поля, выделенные красным, скорее всего вы забыли их заполнить
        button.popup__button(type="button") ОК
      div.popup__success.success
        h2.popup__title.popup__title--success Ваша заявка отправлена
        p.popup__message.popup__message--success Спасибо за ваше участие, ваша заявка уже поступила к нам. В ближайшее #[span время мы рассмотрим ее и оповестим вас.]
        a.popup__button(href="../index.html") Закрыть окно
