extends base

block variables
  - var title = 'Главная страница'
  - var linkScripts = '../index.js'
  - var namePage = 'Home'

block content
  main.main.main-container
    h1.visually-hidden Интернет-магазин Device
    div.logo
    h2.visually-hidden Слайдер
    div.slider__item.slider__item--active
      div.slider__left
        img(src=require('../img/test.png') width="560" height="560" alt="Test picture")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut facere laudantium nesciunt placeat quia similique voluptate. Accusamus alias cum doloribus eius excepturi inventore praesentium vitae, voluptas? Aliquam animi aperiam cum dolor eveniet maiores praesentium, quia recusandae tempore tenetur? Adipisci aliquam aliquid aspernatur beatae ea earum eligendi est impedit maiores nesciunt, nihil optio placeat quas quia quisquam quo tempore veniam! Ad adipisci assumenda blanditiis consequatur deleniti dolores dolorum ducimus eaque eos eum in molestias nam nemo nisi officia optio, perferendis perspiciatis possimus quod rem repellendus rerum sed tempore unde vel. Alias debitis, eaque fuga in itaque nesciunt quasi quia quidem recusandae!
    ul
      li
        a(href="#") Home
      li
        a(href="#") Catalog
      li
        a(href="#") Contacts
      li
        a(href="#") About us
