footer.footer.container
  case namePage
    when 'Home': +footer-logo()
    when 'Catalog': +footer-logo("../index.html")
    when 'Contest': +footer-logo("../index.html")

  ul.footer__social.social-list
    li.social-list__item
      a.social-list__link.social-list__link--twitter(href="https://twitter.com/htmlacademy_ru")
        span.visually-hidden Мы в Твиттере
    li.social-list__item
      a.social-list__link.social-list__link--fb(href="https://www.facebook.com/htmlacademy")
        span.visually-hidden Мы в Фейсбуке
    li.social-list__item
      a.social-list__link.social-list__link--youtube(href="https://www.youtube.com/channel/UChUxTMjJGo-JDRY8pNTGL2g")
        span.visually-hidden Мы на Youtube
  div.footer__copyright.copyright
    span.copyright__text Разработано
    a.copyright__link(href="https://htmlacademy.ru/intensive/adaptive")
      span.visually-hidden Ссылка на страницу интенсива «HTML и CSS. Адаптивная вёрстка и автоматизация»
      svg(width="27" height="34")
        use(href=`${require("Images/sprite.svg")}#logo-htmlacademy`)
