header.header.header--nojs
  nav.header__nav.nav.nav--nojs
    div.nav__top.nav__top--close-menu
      case namePage
        when 'Home': +header-logo()
        when 'Catalog': +header-logo("../index.html")
        when 'Contest': +header-logo("../index.html")

      button.nav__menu-button.nav__menu-button--open(type="button")
        svg(width="50" height="24" aria-hidden="true" focusable="false" role="img")
          use(href=`${require("Images/sprite.svg")}#icon-open-menu`)
        svg.toggle(width="23" height="23" aria-hidden="true" focusable="false" role="img")
          use(href=`${require("Images/sprite.svg")}#icon-close-menu`)
        span.visually-hidden Открыть меню

    ul.nav__list.toggle
      li.nav__item
        case namePage
          when 'Home': a.nav__link.nav__link--current Главная
          when 'Catalog': a.nav__link(href="../index.html") Главная
          when 'Contest': a.nav__link(href="../index.html") Главная
      li.nav__item
        case namePage
          when 'Home': a.nav__link(href="pages/catalog.html") Фотографии
          when 'Catalog': a.nav__link.nav__link--current Фотографии
          when 'Contest': a.nav__link(href="catalog.html") Фотографии
      li.nav__item
        case namePage
          when 'Home': a.nav__link(href="pages/contest.html") Конкурс
          when 'Catalog': a.nav__link(href="contest.html") Конкурс
          when 'Contest': a.nav__link.nav__link--current Конкурс
      li.nav__item
        a.nav__link(href="https://htmlacademy.ru") HTML Academy
