header.header.header--nojs
  nav.header__nav.nav.nav--nojs
    div.nav__top.nav__top--close-menu
      case namePage
        when 'Home': +header-logo()
        when 'Catalog': +header-logo("../index.html")
        when 'Contest': +header-logo("../index.html")

      button.nav__menu-button.nav__menu-button--open(type="button")
        svg(xmlns="http://www.w3.org/2000/svg" width="50" height="24" viewBox="0 0 50 24" fill="none" aria-hidden="true" focusable="false" role="img")
          path(fill="white" d="M1.14 0C.99 0 .84.02.7.07S.43.2.33.3A.88.88 0 0 0 0 1v2c0 .27.12.52.33.7.22.2.5.3.8" +
          ".3h47.73c.15 0 .3-.02.44-.07s.27-.12.37-.22A.88.88 0 0 0 50 3V1a.94.94 0 0 0-.33-.7c-.22-.2-.5-.3-.8-.3H1" +
          ".13Zm0 10c-.15 0-.3.02-.44.07s-.27.12-.37.22A.88.88 0 0 0 0 11v2c0 .27.12.52.33.7.22.2.5.3.8.3h47.73c.15 0 .3-.02.44-.07s.27-.12.37-.22A.88.88 0 0 0 50 13v-2a.94.94 0 0 0-.33-.7c-.22-.2-.5-.3-.8-.3H1.13Zm0 10c-.15 0-.3.02-.44.07s-.27.12-.37.22A.88.88 0 0 0 0 21v2c0 .27.12.52.33.7.22.2.5.3.8.3h47.73c.15 0 .3-.02.44-.07s.27-.12.37-.22A.88.88 0 0 0 50 23v-2a.94.94 0 0 0-.33-.7c-.22-.2-.5-.3-.8-.3H1.13Z")
        svg.toggle(xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none" aria-hidden="true" focusable="false" role="img")
          path(fill="white" d="M20.85 0 0 20.85 2.15 23 23 2.15 20.85 0Z")
          path(fill="white" d="M2.15 0 0 2.15 20.85 23 23 20.85 2.15 0Z")
        span.visually-hidden Открыть меню

    ul.nav__list.toggle
      li.nav__item
        case namePage
          when 'Home': a.nav__link.nav__link--current Главная
          when 'Catalog': a.nav__link(href="../index.html") Главная
          when 'Contest': a.nav__link(href="../index.html") Главная
      li.nav__item
        case namePage
          when 'Home': a.nav__link(href="pages/catalog.html") Фотографии
          when 'Catalog': a.nav__link.nav__link--current Фотографии
          when 'Contest': a.nav__link(href="catalog.html") Фотографии
      li.nav__item
        case namePage
          when 'Home': a.nav__link(href="pages/contest.html") Конкурс
          when 'Catalog': a.nav__link(href="contest.html") Конкурс
          when 'Contest': a.nav__link.nav__link--current Конкурс
      li.nav__item
        a.nav__link(href="https://htmlacademy.ru") HTML Academy
