// Invitation for catalog page
.invitation {
  &__banner {
    height: 462px;
    padding-top: 94px;
    background: url("Images/backgrounds/mobile/back-mobile-1.jpg") no-repeat center, $ebony-clay;
    background-size: cover;
    text-align: center;

    @media (resolution >= 2dppx) {
      background: url("Images/backgrounds/mobile/back-mobile-1@2x.jpg") no-repeat center, $ebony-clay;
      background-size: cover;
    }

    @media (min-width: $tablet-width) {
      height: 729px;
      padding-top: 176px;
      background: url("Images/backgrounds/tablet/back-tablet-1.jpg") no-repeat center, $ebony-clay;
      background-size: cover;

      @media (resolution >= 2dppx) {
        background: url("Images/backgrounds/tablet/back-tablet-1@2x.jpg") no-repeat center, $ebony-clay;
        background-size: cover;
      }
    }

    @media (min-width: $desktop-width) {
      height: 853px;
      padding-top: 169px;
      background: url("Images/backgrounds/desktop/back-desktop-1.jpg") no-repeat center, $ebony-clay;
      background-size: cover;

      @media (resolution >= 2dppx) {
        background: url("Images/backgrounds/desktop/back-desktop-1@2x.jpg") no-repeat center, $ebony-clay;
        background-size: cover;
      }
    }
  }

  &__title {
    margin: 0 0 77px;
    color: $white;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;

    @media (min-width: $tablet-width) {
      margin-bottom: 128px;
      font-size: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 89px;
      padding-left: 1px;
    }
  }

  &__description {
    padding: 44px 20px 121px;
    background-color: $white;

    @media (min-width: $tablet-width) {
      padding-top: 91px;
      padding-bottom: 168px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 308px;
    }
  }

  &__text {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: $ebony-clay;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      width: 572px;
      padding: 0;
      margin: 0 auto;
    }
  }
}
