// Invitation for catalog page
.invitation {
  &__banner {
    height: 462px;
    padding-top: 94px;
    background: $ebony-clay url("Images/backgrounds/back-mobile.jpg") no-repeat;
    text-align: center;

    @media (min-width: $tablet-width) {
      height: 729px;
      padding-top: 176px;
      background: $ebony-clay url("Images/backgrounds/back-tablet.jpg") no-repeat;
    }

    @media (min-width: $desktop-width) {
      height: 853px;
      padding-top: 169px;
      background: $ebony-clay url("Images/backgrounds/back-desktop.jpg") no-repeat;
    }
  }

  &__title {
    margin: 0 0 77px;
    color: $white;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;

    @media (min-width: $tablet-width) {
      margin-bottom: 128px;
      font-size: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 89px;
      padding-left: 1px;
    }
  }

  &__description {
    padding: 44px 20px 60px;
    background-color: $white;

    @media (min-width: $tablet-width) {
      padding-top: 91px;
      padding-bottom: 77px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 89px;
    }
  }

  &__text {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: $ebony-clay;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      width: 572px;
      padding: 0;
      margin: 0 auto;
    }
  }
}
