// Uploading-images
.uploading-images {
  padding-top: 26px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 4px;
    padding-bottom: 28px;
  }

  &__slogan {
    margin-bottom: 42px;
    padding-right: 20px;
    padding-left: 20px;
    color: $ebony-clay;
    text-align: center;
    font-size: 14px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      margin: 0 0 70px;
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 67px;
    }
  }
}

.form {
  display: grid;
  justify-content: center;
  padding: 20px 20px 41px;
  background-color: $concrete;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0 48px;
    padding-top: 57px;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 0 90px;
    width: 940px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 60px;
    padding-bottom: 57px;
  }

  &__upload-image {
    margin-bottom: 42px;

    @media (min-width: $tablet-width) {
      grid-row: 1/3;
      margin-bottom: 0;
      justify-self: right;
    }

    @media (min-width: $desktop-width) {
      justify-self: left;
    }
  }

  &__label {
    display: block;
    position: relative;
    height: 374px;

    @media (min-width: $tablet-width) {
      width: 300px;
      height: 400px;
    }
  }

  &__input {
    width: 1px;
    height: 1px;
    outline: none;
    opacity: 0;
  }

  &__input:focus ~ &__input-image {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__input-image {
    position: absolute;
    top: 0;
  }

  &__image {
    cursor: pointer;

    &--mobile {
      display: block;

      @media (min-width: $tablet-width) {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
      }
    }
  }

  &__editor {
    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: left;
    }
  }

  &__buttons {
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 38px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid $ebony-clay-active;

    @media (min-width: $tablet-width) {
      grid-column: 2/3;
      grid-row: 2/3;
      justify-self: left;
      padding: 66px 0 0;
      margin: 0 0 0 -1px;
      border-top: none;
    }

    @media (min-width: $desktop-width) {
      padding: 0 0 0 1px;
      align-self: end;
    }
  }

  &__button {
    display: block;
    width: 280px;
    padding: 15px 0 16px 2px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    border-radius: 30px;

    @media (min-width: $tablet-width) {
      width: 260px;
      margin-bottom: 24px;
      padding-left: 1px;
    }

    @media (min-width: $desktop-width) {
      display: inline-block;
      width: 183px;
      margin: 0;
      padding-left: 1px;
    }
  }

  &__button:last-child {
    margin-bottom: 0;
  }

  &__button:focus {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__button--submit {
    color: $cerise-red;
    border: 3px solid $cerise-red;

    @media (min-width: $desktop-width) {
      margin-right: 44px;
    }
  }

  &__button--submit:hover {
    background-color: $cerise-red;
    color: $white;
  }

  &__button--submit:active {
    color: $white-active;
  }

  &__button--reset {
    color: $ebony-clay-active;
    border: 3px solid $ebony-clay-active;
  }

  &__button--reset:hover {
    color: $ebony-clay-light;
    border-color: $ebony-clay-light;
  }

  &__button--reset:active {
    background-color: $ebony-clay-light;
    color: $white-active;
    border-color: transparent;
  }
}

.editor-tabs {
  &__panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 194px;
    margin: 0 auto 23px 37px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__switch {
    padding: 0;
    color: $ebony-clay-light;
  }

  &__switch:nth-child(2) {
    padding-top: 1px;
  }

  &__switch:hover {
    color: $ebony-clay-hover;
  }

  &__switch:active {
    color: $ebony-clay-light;
  }

  &__switch--active,
  &__switch--active:hover {
    color: $cerise-red;
  }

  &__switch:focus {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__wrapper {
    margin-bottom: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      margin-top: 6px;
    }
  }

  &__item {
    display: none;
    padding-left: 20px;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      display: block;
      padding: 0 18px 25px 52px;
      border-bottom: 1px solid $ebony-clay-active;
    }

    @media (min-width: $desktop-width) {
      padding-left: 92px;
    }
  }

  &__item:first-child {
    @media (min-width: $tablet-width) {
      background: url("Images/sprite.svg#icon-crop-tablet") no-repeat 1px 3px;
      background-size: 8%;
    }

    @media (min-width: $desktop-width) {
      padding-top: 8px;
      margin-top: -8px;
      background: url("Images/sprite.svg#icon-crop-desktop") no-repeat 0 0;
      background-size: 11%;
    }
  }

  &__item:nth-child(2) {
    @media (min-width: $tablet-width) {
      margin-top: 23px;
      background: url("Images/sprite.svg#icon-fill-tablet") no-repeat 0 3px;
      background-size: 9%;
    }

    @media (min-width: $desktop-width) {
      padding-top: 8px;
      margin-top: 15px;
      background: url("Images/sprite.svg#icon-fill-desktop") no-repeat 0 -25%;
      background-size: 12%;
    }
  }

  &__item:last-child {
    @media (min-width: $tablet-width) {
      margin-top: 20px;
      background: url("Images/sprite.svg#icon-contrast-tablet") no-repeat 4px 6px;
      background-size: 6%;
    }

    @media (min-width: $desktop-width) {
      padding-top: 2px;
      margin-top: 18px;
      background: url("Images/sprite.svg#icon-contrast-desktop") no-repeat 6px 0;
      background-size: 8%;
      border: none;
    }
  }

  &__item--active {
    display: block;
  }

  &__label:focus-within {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__input {
    width: 240px;
    appearance: none;
    outline: none;
    vertical-align: middle;

    @media (min-width: $tablet-width) {
      width: 202px;
    }

    @media (min-width: $desktop-width) {
      width: 288px;
    }
  }

  &__input::-webkit-slider-runnable-track {
    height: 2px;
    background-color: $ebony-clay;
  }

  &__input::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    margin-top: -5px;
    appearance: none;
    border: 2px solid $cerise-red;
    border-radius: 50%;
    cursor: pointer;
    background-color: $white;

    @media (min-width: $desktop-width) {
      margin-top: -6px;
    }
  }

  &__input::-webkit-slider-thumb:hover {
    background-color: $cerise-red;
  }

  &__input::-moz-range-track {
    height: 2px;
    background-color: $ebony-clay;
  }

  &__input::-moz-range-thumb {
    width: 14px;
    height: 14px;
    margin-top: -5px;
    appearance: none;
    border: 2px solid $cerise-red;
    border-radius: 50%;
    cursor: pointer;
    background-color: $white;

    @media (min-width: $desktop-width) {
      margin-top: -6px;
    }
  }
}
