// Advantages
.advantages {
  background-color: $concrete;

  &__slogan {
    position: relative;
    padding-top: 42px;
    padding-bottom: 67px;
    background-color: $white;

    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 66px solid $concrete;
      border-left: 660px solid transparent;
      z-index: 1;

      @media (min-width: $tablet-width) {
        border-bottom: 96px solid $concrete;
        border-left: 1200px solid transparent;
      }

      @media (min-width: $desktop-width) {
        border-bottom: 100px solid $concrete;
        border-left: 1200px solid transparent;
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 46px;
      padding-bottom: 124px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 62px;
      padding-bottom: 151px;
    }
  }

  &__wrapper {
    @media (min-width: $tablet-width) {
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
    }

    @media (min-width: $desktop-width) {
      justify-content: center;
      flex-wrap: wrap;
      padding-left: 120px;
      padding-right: 120px;
    }
  }

  &__slogan-text {
    margin: 0 0 29px;
    color: $ebony-clay;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      line-height: normal;
    }

    @media (min-width: $desktop-width) {
      font-size: 50px;
    }
  }

  &__slogan-text:nth-child(1) {
    @media (min-width: $tablet-width) {
      margin-bottom: -1px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &__slogan-text:nth-child(2) {
    @media (min-width: $tablet-width) {
      padding-left: 39px;
      padding-right: 40px;
    }

    @media (min-width: $desktop-width) {
      width: 727px;
      margin: 0 auto;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__list {
    margin: 0;
    padding: 16px 20px 10px;
    list-style: none;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-top: -49px;
      margin-bottom: 74px;
      padding: 0 0 0 42px;
      text-align: left;
      z-index: 1;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      margin-top: -81px;
      padding: 56px 0 0;
      background-color: $concrete;
      text-align: center;
      z-index: 2;
    }
  }

  &__item {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      width: 300px;
      margin-right: 20px;
    }

    &:nth-child(2) {
      @media (min-width: $tablet-width) {
        margin-bottom: 35px;
      }
    }

    &:last-child {
      @media (min-width: $desktop-width) {
        margin-right: 0;
      }
    }
  }

  &__title {
    margin: 0 0 12px;
    font-size: 18px;
    font-weight: 700;

    @media (min-width: $desktop-width) {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 22px;
      font-size: 30px;
      line-height: 30px;
    }
  }

  &__description {
    margin: 0;
    color: $ebony-clay;
    font-size: 14px;

    @media (min-width: $tablet-width) {
      span {
        display: block;
      }
    }

    @media (min-width: $desktop-width) {
      padding-left: 26px;
      padding-right: 26px;
      font-size: 18px;
      line-height: 30px;

      span {
        display: inline;
      }
    }
  }

  &__image-wrapper {
    @media (min-width: $tablet-width) {
      min-width: 268px;
      margin-top: -119px;
      order: -1;
      z-index: 1;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      margin-top: -94px;
    }
  }

  &__image {
    display: block;
    margin: 0 auto;

    &--no-desktop {
      @media (min-width: $desktop-width) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @media (min-width: $desktop-width) {
        display: block;
      }
    }

    &--margin {
      @media (min-width: $desktop-width) {
        margin: 0 12px;
      }
    }
  }
}
