// Contacts
.contacts {
  padding-top: 42px;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }

  &__slogan {
    display: block;
    margin-bottom: 33px;
    color: $ebony-clay;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;

    @media (min-width: $tablet-width) {
      padding-left: 41px;
      padding-right: 40px;
      margin-bottom: 33px;
      font-size: 40px;
      line-height: normal;
    }

    @media (min-width: $desktop-width) {
      width: 462px;
      padding: 0;
      margin: 0 auto 40px;
      font-size: 50px;
    }
  }

  &__list {
    position: relative;
    padding: 0;
    margin: 0 0 34px;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      justify-content: center;
      margin-bottom: 19px;
      margin-left: 17px;
    }
  }

  &__item {
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
    }
  }

  &__item:first-child {
    @media (min-width: $tablet-width) {
      margin-left: 18px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 111px 0 0;
    }
  }

  &__item:nth-child(2) {
    margin-bottom: 22px;

    @media (min-width: $desktop-width) {
      order: 1;
    }
  }

  &__item:last-child {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin: 0 94px 0 0;
    }
  }

  &__title {
    margin: 0;
    color: $ebony-clay;
    font-size: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 21px;
    }
  }

  &__phone,
  &__mail,
  &__address {
    color: $cerise-red;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__address {
    padding-left: 11px;
    padding-right: 11px;

    @media (min-width: $tablet-width) {
      width: 211px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__phone:hover,
  &__mail:hover {
    color: $ebony-clay;
    text-decoration-line: underline;
  }

  &__phone:active,
  &__mail:active {
    opacity: 0.3;
    text-decoration-line: none;
  }

  &__phone:focus,
  &__mail:focus {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__map-wrapper {
    position: relative;
    width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 660px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 0;
      width: 0;
      height: 0;
      border-top: 33px solid $white;
      border-left: 160px solid transparent;
      border-right: 160px solid transparent;
      z-index: 1;

      @media (min-width: $tablet-width) {
        border-top: 68px solid $white;
        border-left: 330px solid transparent;
        border-right: 330px solid transparent;
      }

      @media (min-width: $desktop-width) {
        border-top: 103px solid $white;
        border-left: 600px solid transparent;
        border-right: 600px solid transparent;
      }
    }
  }

  &__map-mobile {
    display: block;
    border: none;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__map-tablet {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      border: none;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  &__map-desktop {
    display: none;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      border: none;
    }
  }
}
