// Contacts
.contacts {
  padding-top: 42px;
  background-color: $white;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }

  &__slogan {
    display: block;
    margin-bottom: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: $ebony-clay;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;

    @media (min-width: $tablet-width) {
      padding-left: 41px;
      padding-right: 40px;
      margin-bottom: 33px;
      font-size: 40px;
      line-height: normal;
    }

    @media (min-width: $desktop-width) {
      width: 462px;
      padding: 0;
      margin: 0 auto 40px;
      font-size: 50px;
    }
  }

  &__list {
    position: relative;
    padding: 0;
    margin: 0 auto 34px;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-bottom: 23px;
    }

    @media (min-width: $desktop-width) {
      justify-content: start;
      margin-bottom: 19px;
      padding-left: 17px;
    }
  }

  &__item {
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 42px;
    }
  }

  &__item:first-child {
    @media (min-width: $tablet-width) {
      margin-left: -2px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 0 0 45px;
    }
  }

  &__item:nth-child(2) {
    margin-bottom: 22px;

    @media (min-width: $tablet-width) {
      margin-right: -19px;
    }

    @media (min-width: $desktop-width) {
      order: 1;
      margin-left: 94px;
    }
  }

  &__item:last-child {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin: 0 0 0 112px;
    }
  }

  &__title {
    margin: 0;
    color: $ebony-clay;
    font-size: 18px;

    @media (min-width: $tablet-width) {
      margin-bottom: 4px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 21px;
    }
  }

  &__phone,
  &__mail {
    display: block;
  }

  &__phone,
  &__mail,
  &__address {
    color: $cerise-red;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  &__address {
    padding-left: 11px;
    padding-right: 11px;

    @media (min-width: $tablet-width) {
      width: 211px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__phone:hover,
  &__mail:hover {
    color: $ebony-clay;
    text-decoration-line: underline;
  }

  &__phone:active,
  &__mail:active {
    opacity: 0.3;
    text-decoration-line: none;
  }

  &__phone:focus,
  &__mail:focus {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__map-wrapper {
    position: relative;
    //width: 320px;

    @media (min-width: $tablet-width) {
      //width: 660px;
    }

    @media (min-width: $desktop-width) {
      //width: 1200px;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      right: 50%;
      width: 0;
      height: 0;
      border-top: 33px solid $white;
      border-left: 47vw solid transparent;
      border-right: 47vw solid transparent;
      z-index: 1;
      transform: translateX(50%);

      @media (min-width: $tablet-width) {
        border-top: 68px solid $white;
        border-left: 48.7vw solid transparent;
        border-right: 48.7vw solid transparent;
      }

      @media (min-width: $desktop-width) {
        border-top: 103px solid $white;
        border-left: 49.3vw solid transparent;
        border-right: 49.3vw solid transparent;
      }
    }
  }

  &__map-mask {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 200px;
    background-color: $white;
    background-image:
      image-set(
        url("Images/map/map-mobile@1x.webp") 1x,
        url("Images/map/map-mobile@2x.webp") 2x,
        url("Images/map/map-mobile@1x.jpg") 1x,
        url("Images/map/map-mobile@2x.jpg") 2x
      );
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%);

    &::after {
      content: "";
      position: absolute;
      top: 95px;
      left: 44.5%;
      width: 36px;
      height: 36px;
      background-image: url("Images/sprite.svg#icon-map-pin");

      @media (min-width: $tablet-width) {
        top: 194px;
        left: 47.3%;
      }

      @media (min-width: $desktop-width) {
        top: 264px;
        left: 48.5%;
      }
    }


    @media (min-width: $tablet-width) {
      //max-width: 660px;
      height: 374px;
      background-image:
        image-set(
          url("Images/map/map-tablet@1x.webp") 1x,
          url("Images/map/map-tablet@2x.webp") 2x,
          url("Images/map/map-tablet@1x.jpg") 1x,
          url("Images/map/map-tablet@2x.jpg") 2x
        );
    }

    @media (min-width: $desktop-width) {
      //width: 1200px;
      height: 502px;
      background-image:
        image-set(
          url("Images/map/map-desktop@1x.webp") 1x,
          url("Images/map/map-desktop@2x.webp") 2x,
          url("Images/map/map-desktop@1x.jpg") 1x,
          url("Images/map/map-desktop@2x.jpg") 2x
        );
    }
  }

  &__map {
    width: 100%;
    height: 200px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      //max-width: 660px;
      height: 374px;
    }

    @media (min-width: $desktop-width) {
      //width: 1200px;
      height: 502px;
    }
  }
}
