// Price
.price {
  position: relative;
  padding-top: 63px;
  padding-bottom: 45px;
  background-color: $concrete;

  @media (min-width: $tablet-width) {
    padding: 23px 22px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 57px 0 56px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -38px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 38px solid $concrete;
    border-left: 660px solid transparent;
    z-index: 1;

    @media (min-width: $tablet-width) {
      top: -74px;
      border-bottom: 74px solid $concrete;
      border-left: 1200px solid transparent;
    }

    @media (min-width: $desktop-width) {
      top: -100px;
      border-bottom: 100px solid $concrete;
      border-left: 1200px solid transparent;
    }
  }

  &__slider {
    overflow: hidden;

    @media (min-width: $tablet-width) {
      overflow: visible;
    }
  }

  &__toggles {
    width: 56px;
    padding-bottom: 1px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__toggles li:nth-child(1) {
    margin-right: 16px;
  }

  &__toggles li:nth-child(2) {
    margin-right: 16px;
  }
}

.table-price {
  position: relative;
  left: 50%;
  width: 836px;
  margin-bottom: 40px;
  border-spacing: 0;
  transform: translateX(-50%);

  tr:nth-child(2) td {
    border-top-color: $white;
  }

  tr:nth-child(3) td {
    padding-top: 15px;
    padding-bottom: 14px;
  }

  tr:nth-child(4) td {
    padding-top: 14px;
    padding-bottom: 15px;
    border-bottom-width: 2px;
  }

  th,
  td {
    position: relative;
    width: 278px;
    border: 1px solid $mercury;
    background: $white;
  }

  th {
    padding-top: 13px;
    padding-bottom: 29px;
    color: $white;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    background-color: $ebony-clay;
    text-align: center;
    border-top: none;
  }

  th:nth-child(2) {
    border-left-color: $ebony-clay;
    border-left-width: 2px;
    border-radius: 3px 0 0;
  }

  th:last-child {
    border-right-color: $ebony-clay;
    border-right-width: 2px;
    border-radius: 0 3px 0 0;
  }

  th > span {
    display: block;
    margin-top: -4px;
    color: $white;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
  }

  th::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 276px;
    height: 2px;
    background-color: $white;
  }

  td {
    padding: 12px 0 15px 20px;
  }

  td:nth-child(2) {
    border-left-width: 2px;
  }

  td:nth-child(4) {
    border-right-width: 2px;
  }

  td:not(:first-child)::after {
    content: "";
    position: absolute;
  }

  &__mobile-off {
    display: none;
  }

  &__mobile-on {
    color: $ebony-clay;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__hit-ribbon::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 74px;
    height: 74px;
    background: url("Images/backgrounds/mobile/hit-ribbon-mobile.png") no-repeat;
    z-index: 10;

    @media (resolution >= 2dppx) {
      background: url("Images/backgrounds/mobile/hit-ribbon-mobile@2x.png") no-repeat;
      background-size: cover;
    }

    background-image: image-set(
      url("Images/backgrounds/mobile/hit-ribbon-mobile@2x.webp") type("image/webp") 2x,
      url("Images/backgrounds/mobile/hit-ribbon-mobile.webp") type("image/webp") 1x
    );
  }

  &__enable::after {
    top: 17px;
    right: 17px;
    width: 31px;
    height: 21px;
    background: url("Images/sprite.svg#icon-yes") no-repeat center center;
    background-size: 100%;
  }

  tr:nth-child(3) &__enable::after,
  tr:nth-child(4) &__enable::after {
    top: 19px;
  }

  &__disable::after {
    top: 25px;
    right: 19px;
    width: 27px;
    height: 27px;
    background: url("Images/sprite.svg#icon-no") no-repeat;
  }

  tr:nth-child(3) &__disable::after,
  tr:nth-child(4) &__disable::after {
    top: 16px;
  }

  tr:last-child td:nth-child(2) {
    border-radius: 0 0 0 3px;
  }

  tr:last-child td:nth-child(4) {
    border-radius: 0 0 3px;
  }
}

@media (min-width: $tablet-width) {
  .table-price {
    width: 620px;

    th {
      padding-top: 12px;
      padding-bottom: 9px;
    }

    th:nth-child(odd),
    td:nth-child(odd) {
      width: 153px;
    }

    th:nth-child(even),
    td:nth-child(even) {
      width: 152px;
    }

    th:first-child {
      background-color: $concrete;
      border-left: none;
      border-right: none;
      border-bottom-width: 2px;

      &::after {
        content: "";
        width: 153px;
        background-color: $mercury;
      }
    }

    th::after {
      width: 152px;
      background-color: $ebony-clay;
    }

    th:nth-child(2)::after {
      left: -1px;
    }

    th:nth-child(3)::after {
      width: 153px;
      left: 0;
    }

    th:nth-child(4)::after {
      width: 154px;
    }

    th > span {
      margin-top: -3px;
    }

    td {
      padding-left: 0;
    }

    td:first-child {
      padding-left: 15px;
    }

    td:not(:first-child)::after {
      content: "";
      position: static;
      display: block;
      margin: 0 auto;
    }

    td:nth-child(1) {
      border-left-width: 2px;
    }

    td:nth-child(2) {
      border-left-width: 1px;
    }

    tr:nth-child(2) td:first-child {
      padding-top: 8px;
      padding-bottom: 7px;
      border-radius: 3px 0 0;
      border-top-color: $mercury;
      border-top-width: 0;
    }

    tr:nth-child(2) td:not(:first-child) {
      padding-top: 10px;
      padding-bottom: 11px;
    }

    tr:nth-child(3) td:first-child {
      padding-top: 8px;
      padding-bottom: 7px;
    }

    tr:nth-child(3) td:not(:first-child) {
      padding-top: 9px;
      padding-bottom: 9px;
    }

    tr:last-child td:first-child {
      padding-top: 8px;
      padding-bottom: 7px;
      border-radius: 0 0 0 3px;
    }

    tr:last-child td:not(:first-child) {
      padding-top: 9px;
      padding-bottom: 9px;
    }

    tr:last-child td:nth-child(2) {
      border-radius: 0;
    }

    &__hit-ribbon::before {
      left: 0;
      width: 59px;
      height: 61px;
      background: url("Images/backgrounds/tablet/hit-ribbon-tablet.png") no-repeat;

      @media (resolution >= 2dppx) {
        background: url("Images/backgrounds/tablet/hit-ribbon-tablet@2x.png") no-repeat;
        background-size: cover;
      }

      background-image: image-set(
        url("Images/backgrounds/tablet/hit-ribbon-tablet@2x.webp") type("image/webp") 2x,
        url("Images/backgrounds/tablet/hit-ribbon-tablet.webp") type("image/webp") 1x
      );
    }

    &__mobile-off {
      display: table-cell;
      color: $ebony-clay;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
    }

    &__mobile-on {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .table-price {
    width: 944px;

    th {
      padding-top: 16px;
      padding-bottom: 20px;
      padding-left: 2px;
      font-size: 18px;
    }

    th > span {
      margin-top: 1px;
      font-size: 24px;
    }

    th:nth-child(odd),
    td:nth-child(odd) {
      width: 235px;
    }

    th:nth-child(even),
    td:nth-child(even) {
      width: 235px;
    }

    th::after {
      width: 235px;
    }

    th:nth-child(2)::after,
    th:nth-child(3)::after {
      width: 234px;
    }

    th:nth-child(4)::after {
      width: 233px;
    }

    td:first-child {
      padding-top: 23px;
      padding-bottom: 25px;
      padding-left: 22px;
    }

    tr:nth-child(2) td:first-child {
      padding-top: 14px;
      padding-bottom: 15px;
    }

    tr:nth-child(3) td:first-child {
      padding-top: 14px;
      padding-bottom: 15px;
    }

    tr:last-child td:first-child {
      padding-top: 14px;
      padding-bottom: 15px;
    }

    tr:nth-child(2) td:not(:first-child) {
      padding-top: 18px;
      padding-bottom: 19px;
    }

    tr:nth-child(3) td:not(:first-child) {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    tr:last-child td:not(:first-child) {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    &__hit-ribbon::before {
      width: 74px;
      height: 74px;
      background: url("Images/backgrounds/mobile/hit-ribbon-mobile.png") no-repeat;

      @media (resolution >= 2dppx) {
        background: url("Images/backgrounds/mobile/hit-ribbon-mobile@2x.png") no-repeat;
        background-size: cover;
      }

      background-image: image-set(
        url("Images/backgrounds/mobile/hit-ribbon-mobile@2x.webp") type("image/webp") 2x,
        url("Images/backgrounds/mobile/hit-ribbon-mobile.webp") type("image/webp") 1x
      );
    }

    &__mobile-off {
      font-size: 18px;
    }
  }
}
