// Reviews
.reviews {
  position: relative;
  padding: 41px 20px 56px;
  margin-top: -43px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 100px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding: 184px 130px 133px;
    background: $white url("Images/backgrounds/back-quotes.png") no-repeat 561px 72px;
  }
}

.slider {
  &__item {
    display: none;
    margin: 0 0 31px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-bottom: 36px;
    }

    @media (min-width: $desktop-width) {
      width: 688px;
      margin: 0 auto;
    }
  }

  &__item--active {
    display: flex;
    flex-direction: column;
  }

  &__text {
    margin: 0;
    color: $ebony-clay;
    font-size: 14px;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: 36px;
      text-align: center;
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__author-name {
    margin-bottom: 13px;
    order: -1;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      margin-bottom: -1px;
      color: $black;
      text-align: center;
      font-size: 20px;
      order: 0;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 2px;
      font-size: 24px;
    }
  }

  &__author-info {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      color: $ebony-clay;
      text-align: center;
      font-size: 14px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      font-size: 18px;
    }
  }

  &__arrows {
    display: none;

    @media (min-width: $desktop-width) {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 213px;
      width: 940px;
    }
  }

  &__arrow {
    width: 22px;
    height: 41px;
    padding: 0;

    path {
      fill: $ebony-clay-light;
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  &__arrow:hover {
    path {
      fill: $ebony-clay-hover;
    }
  }

  &__arrow:active,
  &__arrow:disabled {
    path {
      fill: $ebony-clay-active;
    }
  }

  &__arrow:focus {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__toggles li:nth-child(1) {
    margin-right: 16px;
  }

  &__toggles li:nth-child(2) {
    margin-right: 19px;
  }
}

.toggles {
  display: flex;
  align-items: center;
  width: 61px;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__btn {
    display: block;
    width: 6px;
    height: 6px;
    padding: 0;
    background-color: $ebony-clay-light;
    border-radius: 50%;
  }

  &__btn--active {
    width: 12px;
    height: 12px;
    border: 3px solid $ebony-clay;
    background-color: $white;
  }

  &__btn:hover {
    background-color: $ebony-clay-hover;
  }

  &__btn:active {
    background-color: $ebony-clay-active;
  }

  &__btn:focus {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__btn--active:hover,
  &__btn--active:active {
    background-color: $white;
  }
}
