// Contest-form
.contest-form {
  margin-top: -56px;
  margin-bottom: 16px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    margin-top: -36px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -236px;
    padding-left: 130px;
    padding-right: 130px;
    margin-bottom: 0;
  }
}

.user-form {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 0 68px;
  }

  &__user-name {
    order: 1;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      margin-bottom: 58px;
      margin-right: 0;
      margin-left: 0;
      padding-left: 0;
      border: none;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/2;
      padding-top: 13px;
    }
  }

  &__user-name &__label {
    @media (min-width: $tablet-width) {
      margin-left: 20px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &__user-name &__input {
    @media (min-width: $tablet-width) {
      width: 525px;
      margin-left: 18px;
      margin-bottom: 52px;
      padding: 21px 20px 20px;
    }

    @media (min-width: $desktop-width) {
      width: 340px;
      margin-bottom: 54px;
      margin-left: 19px;
    }
  }

  &__user-name &__input--tablet-desktop {
    @media (min-width: $tablet-width) {
      width: 565px;
      margin-left: 19px;
      padding-bottom: 19px;
    }

    @media (min-width: $desktop-width) {
      width: 380px;
      margin-bottom: 52px;
      margin-left: 20px;
    }
  }

  &__user-name &__input:last-child {
    @media (min-width: $tablet-width) {
      margin-left: 19px;
    }
  }

  legend {
    padding-top: 39px;
    padding-left: 34px;
    padding-right: 34px;
    color: $cerise-red;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: $concrete;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      background-color: $white;
    }
  }

  &__label {
    display: block;
    margin-left: 43px;
    margin-bottom: 5px;
    color: $cerise-red;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }

  &__input,
  &__textarea {
    display: block;
    width: 280px;
    margin: 0 auto;
    border-radius: 1px;
    border: 2px solid $mercury;
    outline: none;
  }

  &__input {
    margin-bottom: 17px;
    padding: 21px 20px 20px;
  }

  &__input--tablet {
    padding-bottom: 19px;
  }

  &__input:last-child {
    margin-bottom: 0;
  }

  &__input::placeholder,
  &__textarea::placeholder {
    color: $ebony-clay;
    font-size: 18px;
    line-height: 30px;
  }

  &__input:hover,
  &__textarea:hover {
    border-color: $ebony-clay;
  }

  &__input:active,
  &__textarea:active,
  &__input:focus,
  &__textarea:focus {
    border-color: $cerise-red;
  }

  &__user-data {
    order: 3;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-rows: auto auto auto auto;
      margin-bottom: 58px;
      padding-top: 36px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/3;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 0 68px;
      padding: 33px 57px 13px 58px;
    }

    legend {
      display: none;

      @media (min-width: $tablet-width) {
        display: block;
        padding-left: 31px;
        padding-right: 31px;
      }
    }

    label {
      margin-left: 44px;

      @media (min-width: $tablet-width) {
        margin-left: 77px;
        margin-bottom: 29px;
      }

      @media (min-width: $desktop-width) {
        margin-left: 20px;
        margin-bottom: 0;
      }
    }

    label:nth-of-type(2) {
      @media (min-width: $tablet-width) {
        margin-bottom: 27px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 0;
      }
    }

    input {
      @media (min-width: $tablet-width) {
        width: 500px;
        padding-right: 79px;
      }

      @media (min-width: $desktop-width) {
        width: 375px;
        padding-top: 20px;
      }
    }

    input:nth-of-type(1) {
      padding-bottom: 19px;

      @media (min-width: $tablet-width) {
        grid-row: 1/2;
        margin-bottom: 10px;
        background: url("Images/icons/icon-phone.svg") no-repeat 457px center, linear-gradient(to left, $mercury 59px, transparent 59px);
      }

      @media (min-width: $desktop-width) {
        background-position-x: 332px, 0;
      }
    }

    input:nth-of-type(2) {
      @media (min-width: $tablet-width) {
        grid-row: 3/4;
        margin-bottom: 10px;
        background: url("Images/icons/icon-mail.svg") no-repeat 458px center, linear-gradient(to left, $mercury 59px, transparent 59px);
      }

      @media (min-width: $desktop-width) {
        grid-row: 1/2;
        grid-column: 2/3;
        padding-top: 21px;
        padding-bottom: 19px;
        background-position-x: 333px, 0;
      }
    }
  }

  &__user-emotions {
    margin-bottom: 48px;
    padding-top: 16px;
    order: 5;

    @media (min-width: $tablet-width) {
      padding-top: 37px;
      padding-bottom: 51px;
      margin-bottom: 66px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/3;
      padding: 33px 58px 43px;
      margin-bottom: 65px;
    }

    legend {
      padding-top: 6px;
      background-color: $white;

      @media (min-width: $tablet-width) {
        padding-top: 0;
      }
    }
  }

  &__textarea {
    padding: 13px 20px 34px;
    color: $ebony-clay;
    font-size: 18px;
    line-height: 30px;
    resize: none;

    @media (min-width: $tablet-width) {
      width: 500px;
      padding-top: 14px;
      padding-bottom: 25px;
    }

    @media (min-width: $desktop-width) {
      width: 100%;
      height: 128px;
      padding-top: 13px;
    }
  }

  &__button-wrapper {
    order: 6;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      margin-left: 20px;
      margin-right: 19px;
    }

    @media (min-width: $desktop-width) {
      grid-column: 1/3;
      margin: 0;
    }
  }

  &__button {
    display: block;
    width: 280px;
    padding-top: 16px;
    padding-bottom: 17px;
    margin: 0 auto 34px;
    color: $white;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: $jungle-green;

    @media (min-width: $tablet-width) {
      width: 300px;
      margin: 0;
    }
  }

  &__button:hover {
    background-color: $eucalyptus;
  }

  &__button:active {
    color: $white-active;
  }

  &__button:focus {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__button:disabled {
    background-color: $mercury;
  }

  &__condition {
    display: block;
    padding-left: 2px;
    color: $ebony-clay;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-left: auto;
      padding-top: 1px;
    }

    strong {
      color: $cerise-red;
    }

    span {
      display: none;

      @media (min-width: $desktop-width) {
        display: inline;
      }
    }
  }
}

fieldset {
  margin: 0 0 42px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid $mercury;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-right: 0;
  }
}

.achievements,
.user-application {
  margin-bottom: 32px;
  background-color: $concrete;

  @media (min-width: $tablet-width) {
    background-color: $white;
  }
}

.achievements {
  padding-top: 38px;
  padding-bottom: 42px;
  order: 2;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 48px;
    margin-bottom: 58px;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    padding: 43px 58px 12px;
  }

  legend {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      padding-left: 31px;
      padding-right: 31px;
    }
  }

  & > .list {
    @media (min-width: $desktop-width) {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      grid-gap: 0 54px;
      margin-left: 0;
    }
  }

  li {
    margin-bottom: 43px;

    @media (min-width: $desktop-width) {
      &:nth-child(1) {
        grid-row: 1/2;
        grid-column: 1/2;
      }

      &:nth-child(2) {
        grid-row: 2/3;
        grid-column: 1/2;
      }

      &:nth-child(3) {
        grid-row: 1/2;
        grid-column: 2/3;
        margin-left: 1px;
      }

      &:nth-child(4) {
        grid-row: 2/3;
        grid-column: 2/3;
        margin-left: 1px;
      }

      &:nth-child(5) {
        grid-row: 1/2;
        grid-column: 3/4;
      }

      &:nth-child(6) {
        grid-row: 2/3;
        grid-column: 3/4;
      }
    }
  }
}

.user-application {
  padding-top: 34px;
  padding-bottom: 40px;
  order: 4;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 52px;
    margin-bottom: 58px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    margin-left: 1px;
    padding-top: 43px;
  }

  legend {
    margin-bottom: 0;

    @media (min-width: $tablet-width) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 26px;
    }
  }

  & > .list {
    @media (min-width: $desktop-width) {
      margin-left: 72px;
    }
  }

  li {
    margin-bottom: 34px;

    @media (min-width: $desktop-width) {
      margin-bottom: 35px;
    }
  }
}

.list {
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: 58px;
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__label {
    display: flex;
    align-items: center;
    line-height: 20px;
    cursor: pointer;
  }

  &__mark {
    width: 39px;
    height: 39px;
    margin-right: 20px;
    border-radius: 1px;
    border: 2px solid $mercury;
    background: $white no-repeat 7px 9px;
  }

  &__name {
    margin-top: -1px;
    color: $ebony-clay;
    font-size: 18px;
    line-height: 30px;
  }

  &__input[type="radio"] + &__mark {
    width: 41px;
    height: 41px;
    margin-right: 29px;
    border-radius: 50%;
    background-position: center;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &__input[type="checkbox"]:checked + &__mark {
    background-image: url("Images/icons/icon-checkbox-on.svg");
  }

  &__input[type="radio"]:checked + &__mark {
    background-image: url("Images/icons/icon-radio-on.svg");
  }

  &__input:hover + &__mark {
    border-color: $ebony-clay;
  }

  &__input:active + &__mark {
    border-color: $cerise-red;
  }

  &__input:focus + &__mark {
    outline: 1px solid $cerise-red;
    outline-offset: 2px;
  }

  &__input:disabled + &__mark,
  &__input:disabled ~ &__name {
    opacity: 0.3;
  }
}
