// Footer
.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 36px;
    padding-left: 18px;
    padding-right: 19px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    padding: 70px 129px 87px;
  }

  &__logo {
    display: block;
    width: 150px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1px;

    @media (min-width: $tablet-width) {
      margin: 0 73px 0 0;
      padding-left: 0;
    }

    .desktop-logo {
      display: none;
    }

    @media (min-width: $tablet-width) {
      .desktop-logo {
        display: none;
      }

      .tablet-logo {
        display: inline;
      }
    }

    @media (min-width: $desktop-width) {
      .tablet-logo {
        display: none;
      }

      .desktop-logo {
        display: inline;
      }
    }
  }

  &__logo:hover {
    path {
      fill: $cerise-red;
    }
  }

  &__logo:active {
    opacity: 0.3;

    path:not(:last-child) {
      fill: $ebony-clay;
    }
  }

  &__logo:focus {
    outline: 1px solid $cerise-red;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 0;
  margin-bottom: 38px;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 178px;
    margin: 0 90px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 1px;
    margin-right: 67px;
    width: 172px;
  }

  &__item {
    @media (min-width: $tablet-width) {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__item:first-child {
    margin-left: 71px;

    @media (min-width: $tablet-width) {
      margin-left: 0;
    }
  }

  &__item:last-child {
    margin-right: 71px;

    @media (min-width: $tablet-width) {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    width: 54px;
    height: 54px;
    border: 3px solid $ebony-clay-active;
    border-radius: 50%;
  }

  &__link--twitter {
    background: url("Images/icons/icon-twitter.svg") no-repeat center center;
  }

  &__link--fb {
    background: url("Images/icons/icon-facebook.svg") no-repeat 20px 15px;
  }

  &__link--youtube {
    background: url("Images/icons/icon-youtube.svg") no-repeat 19px 18px;
  }

  &__link:hover {
    border: 3px solid $ebony-clay;
  }

  &__link:active {
    opacity: 0.3;
  }

  &__link:focus {
    outline: 1px solid $cerise-red;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    margin-right: 15px;
    padding-top: 3px;
    padding-left: 1px;
    color: $ebony-clay;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
      margin-right: 16px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 14px;
      padding-bottom: 3px;
      font-size: 18px;
    }
  }

  &__link {
    height: 34px;

    @media (min-width: $tablet-width) {
      margin-top: 1px;
    }
  }

  &__link:hover {
    path {
      fill: $ebony-clay;
    }
  }

  &__link:active {
    opacity: 0.3;

    path {
      fill: $ebony-clay;
    }
  }

  &__link:focus {
    outline: 1px solid $cerise-red;
  }
}
